
    {% block footer %}
    <footer>
      <div id="footer"class="container-fluid p-1">
        <div class="d-flex justify-content-center">
        <p style="color:white" ><a style="text-decoration: none;" href="https://www.linkedin.com/in/rinku-chhokar/"><img src="https://img.icons8.com/color/344/linkedin.png" height="45px",width="45px"></a>

        </p>
        </div>

      <p style="text-align: center;color: white;">Developed By- Rinku</p>
      </div> 
     
    </footer>
    {% endblock %}

  