<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Tovice</title>

    <style>
     h2{
        color:#fff;

        font-family:Helvetica;
      }


      #footer{
        background-color:#0b0c10 ;
        
      }

      #navbar{
        background-color:#0b0c10;
        
      }

      body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    footer{
        margin-top: auto;
        margin-top: -10px;

    }

    #first{
      background-image: url("https://images.unsplash.com/photo-1632220894022-a83eacddae2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      background-attachment: fixed;


    }


    #feat{

      padding-top: 80px;
      margin-top: 80px;
      margin-left: 100px;
      margin-right: 100px;
      padding-bottom: 500px;

    }

    h5{
      font-size: 20px;
      color: white;
    }




    </style>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  </head>
  <body>


    
      <div id= "navbar" class="container-fluid p-1 shadow mb-5 position-fixed">
        <h2 id="h2" class="d-flex justify-content-center">Tovice</h2>
      </div>

      <div class="container-fluid pt-5" id="first">



      <div class="container" style="padding-top: 100px;">
        <div class="row">
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4"><h2 style="margin-left: 60px;color: #66FCF1;text-decoration-line: underline;">Features</h2></div>
          <div class="col-md-4"></div>
          
        </div>
      </div>
    
        <div class="container pt-5" style="padding-bottom: 300px;">

        <div class="row" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Speech or Voice Translation
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              In this feature the provided speech can be converted into other language.
            </h5>
            
        </div></div>



        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Text Translation
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              The other feature is that we can also provide simple text to the application and can translate it into other language.
            </h5>
            
        </div></div>



        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Text to speech
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              In this feature, the converted text will be converted into speech and the application will speak the converted text.
            </h5>
            
        </div></div>



        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Voice Mode
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              In this feature, the user can use the application in voice mode totally and can translate any spoken sentence into another language.
            </h5>
            
        </div></div>



        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Manual Mode
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              In this feature, the application gives the option to the user to operate the application in manual mode by simply typing any sentence and then choose in which language they want to translate it. 
            </h5>
            
        </div></div>



        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Translate from document file
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              If the user wants to translate the text from a particular document file the with the help of this feature he/she can easily translate it.
            </h5>
            
        </div></div>




        <div class="row mt-5" style="border-color: lightgrey;border-style: solid;border-width: 0.1px;border-radius: 20px;">

          <div class="col-md-4" style="border-right: solid white 1px;" >
            <h5 style="color:#00bcd9">
                Save the translated text into a file
             </h5>
          </div>

          
          <div class="col-md-8">

            <h5>
              In this feature the user has given an option to save the translated text in a document file so that he/she can use it in future.
            </h5>
            
        </div></div>



      </div>
        
      </div>
          
      




    


    

    {% include "base.html" %}
    {% block footer %}
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>






    
  </body>
</html>